<form id="formButton" action="/blog" method='POST'>
  <br>
  <label>Title</label>
  <br>
  <input type="text" name="blog[title]">
  <br>
  <br>
  <label>Author</label>
  <br>
  <input type="text" name="blog[author]">
  <br>
  <br>
  <label>Post</label><br>
  <textarea name="blog[body]" rows="5" cols="40"></textarea>
  <br>
  <br>
  <label>Image URL</label><br>
  <input type="text" name="blog[image]">
  <br>
  <br>
  <input id="buttons" type="submit" value="Submit Post" class="btn btn-primary btn-block">
</form> 
<br>
<br>

