<br>
<div id="formsPage" class="row">
    <div class='col-xs-12'>
        <h2 class="titles">Edit Blog Post</h2>
        <form id="formButton" action="/cars/<%= car._id %>?_method=PUT" method='POST'>
            <br>
            <label>Name</label>
            <br>
            <input type="text" name="name" value='<%=car.name %>'>
            <br>
            <br>
            <label>Description</label>
            <br>
            <input type="text" name="description" value='<%=car.description %>'>
            <br>
            <br>
            <label>Image URL</label><br>
            <input type="text" name="image" value='<%=car.image %>'>
            <br>
            <br>
            <input id="buttons" type="submit" value="Submit Post" class="btn btn-primary btn-block">
        </form>
        <br>
        <br>
    </div>
</div>
