<div class="logo">
  <img class="logoHeader" src="/images/Sparta.png" alt="Sparta Logo">
</div>
<form class="formStyle" action="/assessment" method='POST'>
    <h3 class="title">ASSESSMENT DISPATCHER</h3>
    <div class="form-group">
      <label for="assessment">Assessment:</label>
      <select class="dropdown"id="assessment" name="assessment" value="learning" >
        <option value="learning">Python Learning Path</option>
        <option value="python">Python</option>
        <option value="java">Java</option>
        <option value="csharp">C#</option>
      </select>
    </div>
    <div class="form-group">
      <label for="candidate_name">Candidate Name:</label>
      <input name="candidate_name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter candidate name" required/>
    </div>
    <div class="form-group">
      <label for="candidate_email">Candidate Email:</label>
      <input name="candidate_email"type="email" placeholder="Enter candidate e-mail" class="form-control" name="candidate_email" required/>
    </div>
    <div class="form-group">
      <label for="recruiter_email">Recruiter Email:</label>

      <input name="recruiter_email" type="email" placeholder="Enter recruiter e-mail" class="form-control" name="recruiter_email" required/>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-secondary submit">Submit</button>
    </div>
</form>
