<br>
<div id="formsPage" class="row">
    <div class='col-xs-12'>
        <h2 class="titles">New Car</h2>
        <form id="formButton" action="/cars" method='POST'>
            <br>
            <label>Name</label>
            <br>
            <input type="text" name="name">
            <br>
            <br>
            <label>Description</label>
            <br>
            <input type="text" name="description">
            <br>
            <br>
            <label>Image URL</label><br>
            <input type="text" name="image">
            <br>
            <br>
            <input id="buttons" type="submit" value="Add Car" class="btn btn-primary btn-block">
        </form>
        <br>
        <br>

    </div>
</div>
